{{#each this}}
<h2 class="country__title">{{name}}</h2>
<div class="country__meta">
	<p class="country__capital"><b>Capital:</b> {{capital}}</p>
        <p class="country__population"><b>Population:</b> {{population}}</p>
        <ul class='country__langs'> <b>Languages:</b>
            {{#each languages}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
	<img class="flag" src="{{flag}}" width="350" alt="flag of {{name}}">
</div>
{{/each}}